@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap");
html,
body {
  overflow-x: hidden;
}
body {
  font-family: "Oxygen", sans-serif;
}
.card {
  width: 70%;
  margin: auto;
}
.navbar-custom {
  background: #126e82;
}
.colm {
  margin-left: 1.5em;
}
.fade-in {
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.fade-in.appear {
  opacity: 1;
}
.jumbotron {
  color: white;
  background: rgb(18, 110, 130);
  background: linear-gradient(
    180deg,
    rgba(18, 110, 130, 1) 0%,
    rgba(185, 255, 209, 1) 100%
  );
  padding-top: 2rem;
}
.about {
  color: #126e82;
}

.profile {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
}
.gallery {
  color: #126e82;
  background: rgb(185, 255, 209);
  background: linear-gradient(
    180deg,
    rgba(185, 255, 209, 1) 60%,
    rgba(18, 110, 130, 1) 100%
  );
}
.quotes,
.quotes-from {
  color: #b9ffd1;
  font-weight: 400;
  font-size: 1.5rem;
  font-style: italic;
}
.gallery .card {
  color: #126e82;
  background: white;
}
.btn {
  background: #126e82;
  border: none;
  font-size: 13px;
  font-weight: 700;
}
.btn:hover {
  border: none;
  background: #399eb4;
}
.title {
  margin-top: 20px;
}
.description {
  width: 80%;
  padding: 10px;
  margin: 0 auto 0 auto;
}

.btn,
a {
  cursor: pointer;
}
.kanan {
  transform: translateX(-50%);
}
.kiri {
  transform: translateX(50%);
}

.kanan,
.kiri {
  transition: opacity 350ms ease-in, transform 400ms ease-in;
  opacity: 0;
}
.kanan.appear {
  transform: translateX(0%);
  opacity: 1;
}
.kiri.appear {
  transform: translateX(0%);
  opacity: 1;
}
footer {
  font-size: 20px;
  color: #b9ffd1;
  background: #126e82;
  padding: 40px;
  text-align: center;
}
footer a {
  color: #b9ffd1;
  font-weight: 700;
  font-style: bold;
  text-decoration: none;
}
h1,
h2 {
  font-weight: 700;
}
